---
import BellIcon from '@icons/Bell.astro';
---

<nav class="fixed z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
	<div class="px-3 py-3 lg:px-5 lg:pl-3">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start">
				<a href="/" class="flex ml-2 md:mr-24">
					<span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">
						🐢 Stable Utils
					</span>
				</a>
			</div>

			<ul class="px-4 flex justify-center items-center gap-4">
				<li>
					<a href="/info" class="text-lg p-2 grid place-items-center text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
						Image infos
					</a>
				</li>
				<li>
					<a href="/prompt" class="text-lg p-2 grid place-items-center text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
						Prompt
					</a>
				</li>
			</ul>

			<div class="flex items-center">
				<button type="button" data-dropdown-toggle="notification-dropdown"
					class="p-2 mr-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700">
					<span class="sr-only">Check notifications</span>
					<BellIcon />
				</button>
			</div>
		</div>
	</div>
</nav>
